body{
    background-color: darkgray;
    text-align: center;
    font-family: monospace;
}

h1{
    color: darkred;
}

h2,h3,p{
    color: grey;
}

strong{
    color: lightgray;
}

.imgLink{
    height: auto;
    max-width: 3.5%;
    background-color: lightgrey;
    height: 2em;
    width: 2em;
    padding: 1em;
    border-radius: 20%;
    
}

#img1{
    height: auto;
    max-width: 15%;
    rotate: 20deg;
}

#linkP{
    padding-top: 2em;
}
